---
import { navVariables } from "../data/data";
---

<header class="grid place-items-center grid-flow-col p-6 bg-gray-100 rounded-lg fixed top-0 z-50 w-screen">
  <div class="justify-self-start">Logo</div>
  <nav class="place-self-end">
    <ul class="grid grid-flow-col gap-8">
      {
        navVariables.map((listItem) => {
          return (
            <li class="hover:bg-gray-300 p-4 rounded-lg">
              <a href={`/${listItem}`}>{listItem}</a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>

