---
const firstImg = "/beautiful-car-washing-service.webp";
const secondImg = "/car-wash-detailing-station.webp";
const thirdImg = "/close-up-car-care-process.webp";
---

<section id="hero" class="relative">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div>
        <img src={firstImg} class="swiper-slide" />
        <div class="absolute top-0 left-0 w-[500px] h-[500px] z-0">
          <h2>Car Wash Services</h2>
          <p></p>
          <button></button>
        </div>
      </div>
      <img src={secondImg} class="swiper-slide" />
      <img src={thirdImg} class="swiper-slide" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper(".swiper", {
    // Optional parameters
    direction: "horizontal",
    loop: true,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
    },
    autoplay: true,
  });
</script>
